<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986705904732-o09rbk6q8860s39dmbtbv9f5pjelqeab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986705904732-o09rbk6q8860s39dmbtbv9f5pjelqeab</string>
	<key>API_KEY</key>
	<string>AIzaSyBEBcPHt33g1dEDVewI92V2M3WZAhH_-eY</string>
	<key>GCM_SENDER_ID</key>
	<string>986705904732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grvstrt.piwoApp</string>
	<key>PROJECT_ID</key>
	<string>piwo-app-6e8d1</string>
	<key>STORAGE_BUCKET</key>
	<string>piwo-app-6e8d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986705904732:ios:30bd38ee2374a14c2d9299</string>
</dict>
</plist>